In [1]:
#to sort a given list of tuple according to integer value
l=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]
sortl=sorted(l,key=lambda x:x[1])#we have written x[1] as integer value is on index 1
print(sortl)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
#sauare of all the numbers using lambda and map
l1=[1,2,3,4,5,6,7,8,9,10]
square=list(map(lambda x:x**2,l1))
print("Square:",square)

Square: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#list of int to tuple
l2=[1,2,3,4,5,6,7,8,9,10]
tu=tuple(map(lambda x:str(x),l2))
print("Tuple for a characters is",tu)

Tuple for a characters is ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#product of all the numbers from 1 to 25
from functools import reduce
l4=[]
for i in range (1,26):
     l4.append(i)
pro=reduce(lambda x,y:x*y,l4)
print("Product of the numbers",pro)

Product of the numbers 15511210043330985984000000

In [5]:
#for findidng a no which are divisible by 2 and 3
l3=[2,3,6,9,27,60,90,120,55,46]
div=list(filter(lambda x:x%2==0 and x%3==0,l3))
print("numbers are:",div)

numbers are: [6, 60, 90, 120]

In [6]:
#for finding the palindrome strings
l5=['python','php','aba','radar','level']
pal=list(filter(lambda x:x==x[::-1],l5))
print("Palindrome strings are:",pal)

Palindrome strings are: ['php', 'aba', 'radar', 'level']